<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Link cutter</title>
</head>
<body>
<h1>Link cutter</h1>
<h3>The test project by Dmitry Petrov. Works on Spring Boot, Spring Data, Thymeleaf. Require to enable cookies.</h3>
<div class="outer">
<div class = "inner">
<form th:method="POST"  th:action="@{/}" th:object="${originalLink}">
    <label for="url">Enter url: </label>
    <input type="text"  th:field="*{url}" id="url"/>
    <div th:if="${#fields.hasErrors('url')}" th:errors="*{url}" id="errors"></div>
    <br><br>
    <input type="submit" value="Click" class="buttons" id="originalLink">
</form>
    <div id="placeholder"></div><br><br>
    <div th:if="${not #lists.isEmpty(links)}">Your links</div><br>
    <div th:each="shortlink: ${links}">
        Details: <a th:href="'link/'+${shortlink.id}"><span th:text="${shortlink.url}"></span></a>&nbsp;&nbsp;
        ShortLink: <a th:href="'link/'+${shortlink.url}"><span th:text="${shortlink.url}"></span></a>
    </div>
</div>
</div>
<script th:src="@{/script.js}"></script>
</body>
</html>