<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Link cutter</title>
</head>
<body>
<h1>Link Details</h1>
<div class="outer">
    <div class = "inner">
        <div>
            <a th:href="${link.url}"><p th:text="${link.url}"></p></a>
            <p th:text="${originallink.url}"></p>
        </div>
        <div>
            <img th:src="@{'data:image/jpeg;base64,'+${QR}}" th:if="${QR}" />
        </div>
        <div>
            <a th:href="'/link/delete/'+${link.url}"><p>Delete url</p></a>
        </div>
        <div>
            <a href="/">Home page</a>
        </div>
    </div>
</div>
</body>
</html>